@page "/counter"
@using Fluxor.Blazor.Web.Components
@using Configastic.Store.CounterUseCase
@inherits FluxorComponent
@inject IState<CounterState> CounterState
@inject Fluxor.IDispatcher Dispatcher

<h1>Counter</h1>

<p role="status">Current count: @CounterState.Value.CurrentCount</p>

<MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="IncrementCount">Click me</MudButton>

@code {
    private void IncrementCount()
    {
        Dispatcher.Dispatch(new IncrementCounterAction());
    }
}
